* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  text-align: center;
  background: #003366;
  color: wheat;
  height: 10rem;
  font-size: 80px;
}

.header span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.app {
  height: 45rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-size: 35px;
  background-image: url("./images/weather.jpg");
  background-size: cover;
  padding-bottom: 5rem;
}

.data {
  color: wheat;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .header {
    height: 5rem;
    font-size: 40px;
  }
  .app {
    height: 30rem;
    font-size: 18px;
  }
  .data {
    height: 10rem;
    width: 10rem;
  }
}
